name: first-github-action
on:
  push:
    branches:
      # When someone push to `main` branch
      - main
jobs:
  
  # test:
  #   ...
  deploy:
    name: "Deploy to Production"
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    # needs: test
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          cat >>~/.ssh/config <<END
          Host staging
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/staging.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
      
      
      - name: Remove old Directory
        run: ssh staging 'cd /home/syslify/ && sudo rm -rf Social-Media-API || true'

      - name: Checkout the repo on the Production Server
        run: ssh staging "cd /home/syslify/ && git clone https://github.com/SocialMint/Social-Media-API.git || true"
           
      - name: Install the Application
        run: ssh staging 'cd /home/syslify/Social-Media-API/ && yes|sudo composer install'

      - name: Syncing updates to Production
        run: ssh staging 'cd /home/syslify/Social-Media-API/ && sudo rsync -av /home/syslify/Social-Media-API/resources/  /var/www/socialmintshare.net/Social-Mint-Api/resources/'

      - name: Syncing updates to Production
        run: ssh staging 'cd /home/syslify/Social-Media-API/ && sudo rsync -av /home/syslify/Social-Media-API/public /var/www/socialmintshare.net/Social-Mint-Api/public'

      - name: Restart Apache to update Production
        run: ssh staging 'cd /home/syslify/Social-Media-API/ && sudo systemctl restart apache2'
